.container {
    display: flex;
    width: 960px;
    height: 960px;
}

.column {
    flex-grow: 1;
}

.div {
    border: 1px solid black;
    padding-top: 100%;
}

.hover {
    background-color: rgb(32, 32, 92);
}